
.carousel-inner {
    overflow: visible; 
}
.banner_main1 .wrap_form {
    margin-top: 50px;
}

.banner_main1 h1 {
    font-size: 40px;
    font-weight: bold;
}

.banner_main1 .color_white {
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}

.banner_main1 h2 {
    font-weight: normal;
    font-size: 20px;
}


.banner_main .margin_auto {
    margin: auto;
}

.banner_main {
    /* position: absolute;
   
    top: 50%;
    left: 0;
	transform: translateY(-50%); */
	position: relative;
	width: 100%;
}
.banner_main__content {
    /* position: absolute;
    bottom: 0px;
    left: 50%;
	transform: translateX(-50%);
	 */
	display: block;
    width: 100%;
    z-index: 1000;
}

    .banner_main__content .formSearchCombo h5 {
        font-size: 22px;
        color: #fff;
        font-weight: 400;
		display:none;
    }

    .banner_main__content .formSearchCombo form {
        margin: 0;
        background: #e6e6e6;
        padding: 10px;
        box-shadow: 0 3px #faf4f4;
    }

        .banner_main__content .formSearchCombo form button {
            font-size: 14px;
        }

        	.from-hanoi {
            width: 20%;
            text-align: center;
            border-right: 1px solid #ddd;
            padding: 13px 20px;
            background: #fff;
            margin-right: 5px;
			position: relative;
			
        }
		.from-hanoi:before {
			content: " \203A";
			position: absolute;
			top: 28%;
			transform: translateY(-50%);
			right: 8px;
			transform: rotate(90deg);
			font-weight: 600;
			font-family: 'FontAwesome';	
		}


.carousel-item img {
	width: 100%;
	height: 80vh;
    object-fit: cover;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        display: none;
        /*top:-9999px;*/
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
.racting{
    display:flex;
}
.reviewRate{
    margin-top: 20px;
}
/*.banner_main .home_page {
    vertical-align: center;
}*/
.banner_main h1 {
    font-size: 40px;
    /*font-weight: bold;*/
}

.banner_main .color_white {
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    margin-bottom: 15px;
}

.banner_main h2 {
    font-weight: normal;
    font-size: 20px;
}

.banner_main .home_page {
    background: rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 4px
}

.home_page .form_search {
    position: relative;
    margin-bottom: 15px;
    /*border-radius: 4px*/
}
.home_page .form_search .input_sear{
}
.home_page .form_search input{
	padding:10px 10px 10px 50px;
	line-height: 40px;
	border:none;
	border-radius: 4px;
	width: 100%;
	position: relative;
}
.home_page .form_search .icon_loca{
	position: absolute;
	top: 20px;
	left: 20px;
}
.home_page .form_search .icon_loca i{
	font-size: 16px;
	color: #ccc
}
.home_page .list_form_search{
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	z-index: 2;
	background:#fff;
	margin-top: 1px;
	border-radius: 4px;
	border:1px solid rgba(108,112,126,0.15);
}
.home_page .list_form_search.active_show{
	display: block;
}
.home_page .list_form_search .title_search{
	font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(108,112,126,0.15);
    margin-bottom: 0;
    padding-bottom: 15px;
    margin-left: 15px;
    padding-top: 20px
}
.list_form_search .media{
	padding:15px;
	display: flex;
}
.list_form_search .media .img_medi img{
	width: 60px;
	height: 60px;
	border-radius: 4px;
	margin-right: 15px
}
.list_form_search .media .content_medi{
	padding:5px 0;
}
.list_form_search .content_medi h3{
	font-size: 16px;
    color: #3d3f47;
}
.list_form_search .content_medi p{
	color: #6c707e;
	margin-bottom: 0
}
.home_page .list_form_search a{
	display: block;
	text-decoration: none;
	position: relative;
}
.home_page .list_form_search a:hover{
	background: rgba(61,63,71,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/*wrapdiv*/
.wrapdiv{
	margin-bottom:30px;
}
.wrapdiv .title_section h2{
	color: #000;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: bold;
}
.wrapdiv .title_section{
	padding-top: 30px
}
.wrapdiv .title_section p{
	font-size: 18px;
    color: #333;
}
.wrapdiv .wrapItem{
	display: block;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}
.wrapdiv .wrapItem::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0) 100%);
}
.wrapdiv .wrapItem .info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding:0 15px;
}
.wrapdiv .wrapItem img{
	width: 100%;
	object-fit: cover;
}
.wrapdiv .wrapItem .info h3{
	line-height: 1;
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.wrapdiv .wrapItem .info p{
	color: white;
    font-size: 16px;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    line-height: 1.2
}
.wrapdiv .owl-theme .owl-nav,
.section1 .owl-theme .owl-dots{
	display: none
}
.section2 .owl-theme .owl-dots{
	position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0
}
.wrapdiv .grid{
	display: grid;
	grid-template-columns: [col1] auto [col2] auto [col3] auto [end];
    grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [end];
    grid-gap: 15px;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-auto-flow: row;
}
.wrapdiv .grid .grid_item,
.wrapdiv .grid .grid3,
.wrapdiv .grid .grid4,
.wrapdiv .grid .grid5{
	padding: 0px;
    margin-bottom: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.wrapdiv .grid .grid1{
	grid-column: 1/3;
    grid-row: 1/2;
}
.wrapdiv .grid .grid2{
	grid-column: 3/end;
    grid-row: 1/3;
}
.wrapdiv .grid .grid6{
	grid-column: 1/2;
    grid-row: 3/5;
}
.wrapdiv .grid .grid7{
	grid-column: 2/end;
    grid-row: 3/4;
}
.wrapdiv .grid_section3{
	grid-template-columns: [col1] auto [col2] auto [col3] auto [end];
    grid-template-rows: [row1] auto [end];
}
.wrapdiv .grid_section3 .grid2{
	grid-row: auto;
}

.booking_hotel{
	padding:0 15px;
}
.t-dates {
	height: auto!important
}

.booking_hotel .dates.t-datepicker{
	background:#fff;
	padding:15px 0;
	border-radius: 3px
}
/**/
.wrap_book_numbr{
	width: 100%;
	height: 100%;
	background:#fff;
	border-radius: 3px
}
.wrap_book_numbr button{
	position: relative;
	width: 100%;
	height: 100%;
	border:none;
	text-align: left;
	padding-left: 65px
}
.wrap_book_numbr .icon_user{
	position: absolute;
	left: 15px;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 15px
}
.wrap_book_numbr .icon_user i{
	font-size: 17px
}
/**/
.wrap_daterangepicker{
	width: 100%;
	height: 100%;
	padding:5px 10px;
}
.wrap_daterangepicker input{
	width: 100%;
	height: 100%;
	font-size: 17px;
	color: #495057
}
.submit_form{
	padding:0;
}
.submit_form button{
	height: 100%;
	border:none;
	border-radius: 3px;
	background:#438DC4;
	color: #fff;
	font-weight: 300
}
.submit_form button:hover{
	color: #fff
}
#travellers-seaside{
	left: 15px;
	padding:10px 15px;
	/*min-width: 210px;*/
	width: 210px
}
.bootstrap-touchspin span.input-group-btn{
	min-width: 30px
}
.bootstrap-touchspin span.input-group-btn button{
	padding:0;
	text-align: center;
	margin-left: 30px;
	border:1px solid #ccc;
	color: #6c707e;
}
.bootstrap-touchspin>span.input-group-btn{
	order: 3
}
.bootstrap-touchspin input.num-spinner{
	width: 70px;
	max-width: 70px
}
.form-group-age-children{
	width: 30%;
	display: inline-block;
	position: relative;
}
.form-group-age-children select{
	padding:6px 2px;
}
#agegroup-1-seaside label{
	position: absolute;
    top: 0;
    max-width: 200px;
    min-width: 140px;
}
.wrap_100px{
		height: 100px
	}


/*18/05*/
.boxCatting {
    background: #fff;
    padding: 55px 0 40px 0;
}

    .boxCatting .wrapCat {
        text-align: center;
        padding: 0 15px;
        color: #1a3863;
    }

        .boxCatting .wrapCat img {
            margin-bottom: 10px
        }

        .boxCatting .wrapCat h3 {
            font-size: 18px;
        }

.boxCatting .wrapCat h3{
	 font-size: 20px;
    color: #000;
}
@supports (font-variation-settings: "wght" 600) {
	.boxCatting .wrapCat h3{
		font-weight: 600
	}
.boxCatting .wrapCat p{}
.boxCatting .wrapCat a{
	color: #ff8916;
	text-decoration: none
}
.boxCatting .wrapCat .iconArorR{
	display: inline-block;
	background: #ff8916;
	width: 18px;
	height: 18px;
	border-radius: 100%;

}
.boxCatting .wrapCat .iconArorR i{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding-top: 3px
}
.titleSection{
	text-align: center;
}
.titleSection h2{
	position: relative;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	color: #1a3863;
	padding-bottom: 5px;
	margin-bottom: 10px;
	
}
}
@supports (font-variation-settings: "wght" 600) {
	.titleSection h2{
		font-weight: 600
	}
}
.hotTourToday{
	padding: 0 0 0 0;
	margin-bottom: 15px;
}
.hotTourToday .container{
	overflow: hidden;
}
.titleSection h2:before{
	content: "";
	max-width: 100%;
	width: 100px;
	position: absolute;
	height: 3px;
	background: #ff8916;
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.wrapSlide{
	padding: 0 0 30px;
}
.wrapSlide .owl-carousel .owl-stage-outer {
     overflow: visible;
}
.wrapBox{
	display: block;
	text-decoration: none;
	color: #000;
	/*border: 1px solid #acacac;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
}

/* Phần Sale */
.wrapBox .isSale{
	position: absolute;
    top: -1px;
    left: -12px;
}
.wrapBox .isSale img{
	width: 110px;
    object-fit: cover;
}
.wrapBox .isSale h4{
	width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 7px;
    text-transform: uppercase;
}

.wrapBox:hover{
	text-decoration: none
}
.wrapBox .img_SlideSecti{
	overflow:hidden;
	width: 100%;
}
.wrapBox .img_SlideSecti img{
	width: 100%;
    height: 215px;
    transition: .3s;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.wrapBox .contentSection{
	/*margin-top: 20px;*/
	padding: 20px 10px 10px 10px;
    border: 1px solid #acacac;
    border-top: none;
}
.wrapBox .contentSection h2{
	color: #1a3863;
    font-size: 16px;
    transition: .3s;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
	min-height: 38px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
	
}
.wrapBox .contentSection h2:hover{
	color: #ff6000
}
@supports (font-variation-settings: "wght" 600) {
	.wrapBox .contentSection h2{
		font-weight: 600
	}
}
.wrapBox .contentSection .racting{
	display: flex;
	margin:0;
}
.wrapBox .contentSection .racting li{
	margin-right: 5px
}
.wrapBox .contentSection .timeClock{
	display: flex;
    justify-content: space-between;
    padding: 7px 0 25px 0;
    color: #000;
    border-bottom: 1px solid #ddd;
}
.contentSection .timeClock .divLeft i{
	padding-right: 5px
}
.contentSection .timeClock .divRight ul{
	display: flex;
    height: 21px;
}
.contentSection .timeClock .divRight li{
	padding:0 5px
}
.contentSection .timeClock .divRight li img{
	width: auto;
    max-height: 12px;
    object-fit: cover;
}
.priceForm{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}
.priceForm .priceLeft{}
.priceForm .priceLeft span{
	display: block;
    font-size: 14px;
    opacity: 0.8;
    padding-top: 10px;
	color: #000;
}
.priceForm .priceLeft span.priceOld{
	text-decoration: line-through;
	font-size: 14px;
    opacity: 0.8;
}
.priceForm .priceLeft .rateStar{
	display: flex;
	align-items: center;
}
.priceForm .priceLeft .rateStar img{
	margin: 0 5px;
}
.priceForm .priceLeft .rateStar span.qty_star{
	padding: 5px;
    background: #1a3863;
	color: #fff;
	margin-right: 3px;
	border-radius: 5px;
}
.priceForm .priceLeft .rateStar span.rateType{
	margin-left: 3px;
    border-bottom: 1px solid;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    -webkit-line-clamp: 2;
}

/* Edit  priceNew*/
.priceForm .location .priceNew{
	font-size: 18px;
    display: block;
    padding-top: 15px;
}
@supports (font-variation-settings: "wght" 600) {
	.priceForm .location .priceNew{
		font-weight: 600;
		color: #ff6000
	}
}
.priceForm .priceLeft .priceOld{}
.priceForm .location{
	font-size: 14px;
    text-align: right;
    padding-left: 10px;
}
.priceForm .location a.titleTour {
 
     color: #000;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.priceForm .location img{
	width: 15px;
	display: inline-block;
	margin-right: 5px
}
.hotTourToday .owl-theme .owl-dots{
	display: none
}
.hotTourToday .owl-theme .owl-nav [class*=owl-]:hover {
	background: transparent;
}
.hotTourToday .owl-carousel .owl-nav button span{
	display: none
}
.hotTourToday .owl-theme .owl-nav {
	margin:20px 0;
}
.hotTourToday .owl-carousel .owl-nav button.owl-prev,
.hotTourToday .owl-carousel .owl-nav button.owl-next{}
.hotTourToday .owl-carousel .owl-nav button.owl-prev{}
.hotTourToday .owl-carousel .owl-nav button.owl-next{}
.hotTourToday .owl-carousel .owl-nav button.owl-prev:before{
	content: url(../img/index/fixAdd/p1.jpg);
	/*position: absolute;*/
}
.hotTourToday .owl-carousel .owl-nav button.owl-next:before{
	content: url(../img/index/fixAdd/n1.jpg);
	/*position: absolute;*/
}
.spaceWish img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.spaceWish [class*=col-]{
	padding-left: 5px;
	padding-right:5px;
}
.spaceWish .row{
	margin-left: -5px;
	margin-right: -5px;
}
.spaceWish .wrapSpace{
	display: block;
	position: relative;
	height: 100%;
	color: #fff;
	padding-bottom: 10px
}
.spaceWish .wrapSpace .img{
	height: 100%;
	border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.spaceWish .wrapSpace .img:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #00000047
}
.spaceWish .wrapSpace .content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spaceWish .wrapSpace .content h2{
	color: #fff;
	position: relative;
	font-size: 20px;
	padding-bottom: 5px
}
.spaceWish .wrapSpace .content h2:before{
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	background: #fff;
	left: 50%;
	transform:translateX(-50%);
	bottom: 0
}

/**/
.evenvorche{
}
.evenvorche .container{
	background: #fff;
	padding-top:15px;
	padding-bottom:15px;
}
.evenvorche .wrapBoxChuongTrinh{
	padding:30px 0;
	/*background: #f8f8f8;*/
}
.wrapBoxChuongTrinh .wrapEven{
	    display: flex;
		align-items: stretch;
		text-decoration: none;
		color: #000;
		margin-bottom: 20px;
		padding: 15px;
		border: 1px solid #f2f3f4;
}
.wrapBoxChuongTrinh .wrapEven .img{
	width: 100px;
}
.wrapBoxChuongTrinh .wrapEven img{
	  width: 100%;
    height: 120px;
    object-fit: cover;
}
.wrapBoxChuongTrinh .wrapEven .contentEven{
	width: calc(100% - 100px);
	padding-left: 10px;
}
.wrapBoxChuongTrinh .wrapEven .contentEven h4{
	font-size: 15px
}
.wrapBoxChuongTrinh .wrapEven .contentEven p.textEven{
	font-size: 13px;
	margin-bottom: 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.wrapBoxChuongTrinh .wrapEven .numberView{}
@supports (font-variation-settings: "wght" 600) {
	.wrapBoxChuongTrinh .wrapEven .contentEven h4{
		font-weight: 600
	}
}
.wrapBoxChuongTrinh .wrapEven .numberView span{
	color: #9a9a9a
}
.wrapBoxChuongTrinh .viewMore a{
	border:1px solid #ddd;
	color: #777;
    padding: 5px 10px;
    display: inline-block;
}
/*wrapSlidefeback*/
.elue{
	padding:35px 0 30px;
}
.wrapSlidefeback{
	margin-top: 20px
}
.wrapSlidefeback .wrapperItemElue{
	padding: 40px 15px 15px 15px;
    background: #fff8eb;
    margin-top: 50px;
    position: relative;
}
.wrapSlidefeback .wrapperItemElue .avartar{
	width: 80px;
	position: absolute;
	left: 15px;
    top: -46px;
}
.wrapSlidefeback .wrapperItemElue .avartar img{
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);*/
	width: 100%;
	height: 80px;
	object-fit: cover;
	border-radius: 100%
}
.wrapSlidefeback .wrapperItemElue .text-hot{
	display: flex;
	justify-content: space-between;
	margin: 15px 0 10px 0;
}
@supports (font-variation-settings: "wght" 600) {
	.wrapSlidefeback .wrapperItemElue .text-hot p{
		 font-weight: 600;
    font-size: 18px;
    font-weight: 600;
    color: #1a3863;
    line-height: 18px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
	min-height:42px;
	}
	
}
.wrapperItemElue .text-hot ul{
display: flex;
    flex-wrap: nowrap;
}
.wrapperItemElue .text-hot ul li{
	display: inline-block;
    margin: 0 2px;
}
.wrapperItemElue .text-hot ul li i{
	color: #FFD200;
	font-size: 18px
}
.wrapperItemElue .textContent{
	height: 120px;
	overflow-y: scroll;
}
.wrapperItemElue .textContent .scrool{
	min-height: 50px;

}
.wrapperItemElue .infoElue{}
.wrapperItemElue .infoElue p{
	margin-bottom: 0
}
.wrapperItemElue .infoElue span{
	color: #1a3863;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	display: inline-block
}
.wrapperItemElue .infoElue .dayFo{
	color: #8d9597;
    font-size: 14px;
}
.wrapperItemElue .infoElue a{
	color: #32AFE4;
	text-decoration: none
}

#elue.owl-theme .owl-dots{
	display: none
}
#elue.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    text-decoration: none;
}
#elue.owl-carousel .owl-nav button span{
	display: none
}
#elue.owl-carousel .owl-nav{
	text-align: right
}
#elue.owl-carousel .owl-nav button.owl-prev:before{
	content: url(../img/index/fixAdd/p1.jpg);
}
#elue.owl-carousel .owl-nav button.owl-next:before{
	content: url(../img/index/fixAdd/n1.jpg);
}
span.carousel-control-next-icon i {
    font-size: 30px;

}
span.carousel-control-prev-icon i {
    font-size: 30px;

}
button.close span {
    font-size: 40px;
}

@media (max-width:991px){
.banner_main__content {
    bottom: -50px;
}
	.titleSection h2 {
    font-size: 25px;
}
}

@media (max-width:575px){
main .img_slider {
    	height: auto;
	}
	.banner_main__content {
    	bottom: -215px;
	}
.banner_main__content .formSearchCombo h5 {
    color: #000;
	font-size:16px;
	    margin-bottom: 10px;
}
}

.wrapFill a {
	text-decoration: none;
}

.wrapFill .contentFiller h2 {
	color: #1a3863;
	font-size: 16px;
	transition: .3s;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	min-height: 38px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}

.wrapFill .contentFiller .racting {
	display: flex;
	margin: 0;
}

	.wrapFill .contentFiller .racting li {
		margin-right: 5px;
	}

.wrapFill .contentFiller .timeClock {
	display: flex;
	justify-content: space-between;
	padding: 7px 0 25px 0;
	color: #000;
	border-bottom: 1px solid #ddd;
}

.contentFiller .timeClock .divLeft i {
	padding-right: 5px;
}

.contentFiller .timeClock .divRight ul {
	display: flex;
	height: 21px;
}

.contentFiller .timeClock .divRight li {
	padding: 0 5px;
}

.contentFiller .timeClock .divRight li img {
	width: auto;
	max-height: 12px;
	object-fit: cover;
}

.formSearchIndex{
	background: #1a3863;
	padding: 25px;
}
.formSearchIndex  form > div{
	display: flex;
    align-items: stretch;
    width: 100%;
}
.formSearchIndex form .from-hanoi{
    width: 20%;
    border: 1px solid #fff;
	padding: 13px 20px;
	color: #fff;
	background: transparent;
	font-size: 16px;

}
.formSearchIndex form .chose-area {
    width: 60%;
	margin: 0 20px;
	position: relative;
}
.formSearchIndex form .chose-area::before{
  content: url(./../img/logo/location.png);
  position: absolute;
  top: 10px;
  left: 30px;
}
.formSearchIndex form .chose-area input{
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 13px 20px;
	font-size: 16px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.formSearchIndex form .chose-area input:focus{
	border:1px solid lime;
}

.formSearchIndex form .chose-area input::placeholder{
	color: #fff;
}

.formSearchIndex form button {
    width: 20%;
    padding: 13px 20px;
	background: transparent;
	border:1px solid #fff;
    color: #fff;
    font-size: 16px;
}
.formSearchIndex form button:hover {
    background: #fff;
    color: #1a3863;
}







