body{
	color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
ul{
	padding:0;
	margin:0;
	list-style: none
}
input, input:focus,
select, select:focus, 
button, button:focus,
a, a:focus,textarea, textarea:focus{
	outline: none;
	border:none;
}
/**/
/*header*/
#header{

}
.wrapMobile{
	display: none;
}
.mobile_show{
	display: none!important
}
.wrap_header_top{
	background-color: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}
.wrap_header_top .wrap_top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrap_header_top .wrap_top .top_header{
	display: flex;
	align-items: center;
}
.wrap_header_top .wrap_top .logo{
	width: 120px;
}
.wrap_top .logo img{
	width: 100%;
	object-fit: cover
}

/* Bat Dau Sua Tu Day */
.header--top{
	background: #1a3863;
	
}

#header {
   border-bottom: 1px solid #f1f1f1;
    background: #fff;
    z-index: 1001;
    position: relative;
}

    #header .logo--mb {
        width: 100%;
		display: flex;
		align-items: center;
		padding-left: 15px;
	}
	#header .logo--mb span.mail{
		margin-left: auto;
		color: #fff;
	}
	#header .logo--mb > a{
		margin: 0 15px;
    }
    #header .logo--mb  span.language{
        padding: 0 15px;
    }
	#header .logo--mb  span.language img{
		width: 20px;
		margin: 0 2px;
    }

    #header .logo--mb img {
       width: 150px;
    	object-fit: cover;
    }

	#header .logo--mb .time img {
		width: 20px;
		object-fit: cover;
	}
	#header .logo--mb img.img--phone {
		width: 30px;
		object-fit: cover;
	}

.menu_header {
    width: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}

.menu_header .row {
    width: 100%;
}

.menu_header > ul > li:last-child {
    padding-right: 15px;
}

.menu_main_mo {
    width: 100%;
    border-radius: 25px;
	background: #fff;
	border:2px solid #1a3863;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_main_mo > li {
    position: relative;
}

.dot_show_more a.dropdown-item {
    color: #000;
}

.btn_more {
    color: #fff;
    background: none;
}

.dropdown-toggle::after {
    display: none;
}

.list_menu_top-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

@media (max-width:991px) {
    .list_menu_top-header {
        display: none;
    }

    .logo--mb {
        display: none;
    }
}

.list_menu_top-header .list_menu_top-header__in {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    padding-right: 15px;
}

.list_menu_top-header ul.list__menu-flc {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 15px;
}

.list_menu_top-header ul li {
    margin-left: 7px;
}

    .list_menu_top-header ul li:not(:first-child){
	position: relative;
}
.list_menu_top-header ul li:not(:first-child)::before{
	content:'';
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	left: 0;
	width: 1px;
	height: 10px;
	background: gray;
}

.list_menu_top-header ul.list__menu-flc li a {
    font-size: 12px;
    color: #1c1d1e;
    padding-left: 5px;
    font-weight: 600;
}

    .list_menu_top-header ul.list__menu-flc li a:hover {
        color: #f39c12;
        font-weight: 600;
        text-decoration: none;
    }

.list__menu-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .list__menu-icon a {
        text-decoration: none;
    }

    .list__menu-icon img {
        width: 30px;
        object-fit: cover;
        transition: .3s;
    }

        .list__menu-icon img:hover {
            transform: scale(1.3,1.3)
        }

.sub-menu--header {
    position: absolute;
    left: -70px;
   
    width: 250px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    text-align: center;
    border: 2px solid #1a3863;
}
ul.sub-menu--header.sub-menu--header {
    display: block;
}


.sub-menu--header li a {
    font-size: 14px;
    border-bottom: 1px solid #1a3863;
}
.sub-menu--header li a:hover {
    background: #1a3863;
    color: #fff !important;
}

.menu_main_mo > li:hover .sub-menu--header {
    opacity: 1;
    visibility: visible;
}
a.img-logo {
    padding-left: 20px;
}
.info-phone {
    text-align: right;
    padding-right: 15px;
	color: #fff;
	background: #f16136;
	padding: 0 10px 0 45px;
	position: relative;
}
.info-phone a{
    text-decoration: none;
    color: #fff;
}

	.phone-logo{
		position: absolute;
		top: 50%;
		left: 7px;
        transform: translateY(-50%);
	}
	.phone-logo img{
        width: 35px !important;
        object-fit: cover;	
	}
    .info-phone span.time {
        display: block;
		
    }

    .info-phone span._tele-phone a {
		text-decoration: none;
		white-space: nowrap;

    }

    .info-phone span._tele-phone b {
       font-size: 28px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
    }

    .info-phone span._tele-phone a i.fa {
        font-size: 22px;
    }

    .info-phone span.time > span {
        font-size: 12px;
    }



@media (max-width:991px) {
    .sub-menu--header {
        position: static;
		width: 100%;
		background: #1a3863;
		opacity: 1;
		visibility: visible;
    }

        .sub-menu--header li {
            padding-left: 30px;
        }

    .btn_more {
        display: none;
    }

    .dropdown-menu-right {
       position: static;
    display: block;
    width: 100%;
    background: #1a3863;
    }

        .dropdown-menu-right .dropdown-item {
            padding-left: 30px;
        }

    .dropdown-menu {
        border: none;
        margin: 0;
        padding: 0;
    }
.info-phone span.time{
	margin-top:0px}
}

/* KEt Thuc  */
.top_header .hotline i{
	color: #9fc432;
	margin-right: 5px
}
.wrap_top .top_header{}
.top_header .hotline a,
.top_header .sign a{
	color: #438dc4;
	text-decoration: none
}
.wrap_top .top_header .account{
	position: relative;
	cursor: pointer;
	margin-left: 20px
}
.wrap_top .top_header .wrap_show_{
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 185px;
	border-radius: 3px;
	margin-top: 10px;
	border-top: 4px solid #438dc4;
	display: none;
	color: #444;
	z-index: 4;
	background:#fff;
}
.wrap_top .top_header .show_wrap_show_{
	color: #438dc4;
	font-size: 16px
} 
.top_header .show_wrap_show_ img{
	margin-right: 10px
}
.wrap_top .top_header .wrap_show_ .arrow{
	position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent #438dc4;
    border-style: solid;
    top: -19px;
    right: 20px;
    margin-left: -11px;
    border-width: 8px;
}
.top_header .wrap_show_ .phone_hot{
	display: block;
	padding-left: 10px
}
.wrap_top .top_header .wrap_show_.active{
	display: block;
}
.wrap_top .top_header .title_account p{
	margin:0;
	background-color: #438dc4;
    border-bottom: solid 1px #e9e9e9;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding: 18px 14px 15px;
}
.top_header .wrap_show_ ul{
	padding:10px;
}
.top_header .wrap_show_ ul li{
	margin-bottom: 9px;
}
.top_header .wrap_show_ ul li a{
	color: #444;
	text-decoration: none;
	transition: all .3s ease-in
}
.top_header .wrap_show_ ul li a:hover{
	color: #ff8917
}
.top_header .wrap_show_ ul img{
	margin-right: 10px
}
.top_header .wrap_show_ ul li .green{
	color: #91bb15!important;
	margin-right: 10px
}
.wrap_top .top_header .sign{
	margin-left: 20px
}
.wrap_top .top_header .sign ul{
	display: flex;
	align-items: center;
}
.wrap_top .top_header .sign .btn-register{
	display: block;
	background: #438DC4;
    color: #fff;
    padding: 6px 15px;
    margin-left: 15px
}
/*menu_header*/
.menu_header ul{
	display: flex;
}
.menu_header ul li{
	text-align: center;
	position: relative;
	align-items: center;
    width:20%;
}
.menu_header ul li a{
	align-items: center;
	font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    padding: 11px 10px;
    border-right: 1px solid #f1f1f1;
    outline: 0;
    color: #222;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}
    .menu_header ul li a i {
        font-size: 20px
    }
.menu_header ul li a.active{
	background-color: rgba(19, 236, 253, 0.1);
    color: #438dc4;
    border-top: 3px solid #438dc4;
}
.menu_header ul li a:hover svg path{
	fill: #438dc4
}
.menu_header ul li a:hover{
	color: #438dc4;
}
.menu_header ul li a span{
	display: inline-block;
	margin-left: 15px
}
.menu_header ul{}
/*footer*/
/*footer*/
footer{
	background: #1a3863;
    padding: 15px 0;
	color: #fff;
}
footer .foot-col-1{
	max-width: 150px
}
footer .foot-col-3{
	max-width: 20%;
	flex: auto;
}
footer h3{
	font-size: 15px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
footer img{
	width: 100%
}
footer p{
	margin-bottom: 8px
}
footer .company_info{
	padding-right:30px;
}
footer .logo_footer img {
    width: auto;
    height: 61px;
    object-fit: cover;
    margin-bottom: 15px
}
footer .logo_footer p{
	margin-bottom: 20px
}
footer .company_info a{
	color: #fff;
    text-decoration: none;
    transition: .3s;
}
footer .company_info a:hover{
	color: #438DC4
}
footer ul{
	display: block;
}
footer ul li{
	display: block;
}
footer ul li h3{
	font-size:14px;
	text-transform: uppercase;
	margin-bottom: 20px
}
footer ul li a{
	color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    margin-bottom: 5px;
}
footer ul li a:hover{
	color: #438DC4;
	text-decoration: none
}

.menu_footer {
    padding: 3px 0 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: inline-block;
    width: 100%;
    margin:10px 0;
    vertical-align: top;
}
ul.list_paypal{
	display: block;
	text-align: right;
	padding-top: 22px;
}
ul.list_paypal li{
	display: inline-block;
	padding:0 7px;
}
ul.list_paypal li a{}
ul.list_paypal li:first-child img{
	width:100px;
	object-fit:cover;
}
.text_info{
	color: #fff;
    margin-bottom: 20px;
}
ul.link_infoPage{
	text-align: left;
	padding-top: 0
}
ul.link_infoPage li i{
	font-size:16px
}


/*addFix*/
.menu_header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wrap_header_top {
	display: none;
}
.menu_header{
	
}
.menu_header ul {
    
}
.menu_header ul li {
	width: auto
}
.menu_header ul li a {
	color: #1a3863;
	border-right: 0;
	padding-left: 13px;
	padding-right: 13px;
}
@supports (font-variation-settings: "wght" 600) {
.menu_header ul li a {
	font-weight: 600
}
	.menu_header ul li:last-child img {
	display:none;
}
	.menu_header ul li:last-child a span {
	    font-size: 30px;
    line-height: 0;
    margin-top: -15px;
}

}
.menu_header ul li a span {
	margin-left: 10px;
    font-size: 16px;
}
.menu_header ul li .iconMenu{
	width: 20px;
	margin-left: 5px
}
.menu_header ul li .iconMenu img{
	width: 100%;
	object-fit: cover;
}
.menu_header .logo{
	margin-right: 20px
}
.menu_header ul li.callPhone{
	padding-left: 30px
}
.menu_header ul li.callPhone>span{
	display: block;
}
.menu_header li.callPhone span.phoneMenu a{
	padding-top: 0
}
.menu_header li.callPhone span.phoneMenu span{
	font-size: 15px;
}
.menu_header li.callPhone span.time span{
	color: #fff;
	font-size: 12px
}
/*addFix*/
/*ytuong*/
.wrapMainRight{
	position: fixed;
	top: 40%;
	right: 0;
	z-index: 19;
	transition:.5s;
}
.wrapMainRight ul li{
	position: relative;
	margin-right: 20px
}
.wrapMainRight ul a{
	display: block;
    color: #fff;
    background: #1a3863;
    padding: 9px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: relative;
    right: -50%;
    width: 100%;
}


.view-loadMore {
    display: none;
}

.viewDt {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.contentSection .titleTour:hover {
    text-decoration: none;
}

/* Request */


.box-progress {
    background: #1b3964;
}

.box-progress-flex {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


.progress-item {
    text-align: center;
    width: 33.33%;
    position: relative;
}

    .progress-item:not(:last-child):after {
        content: "";
        position: absolute;
        top: 25%;
        left: 55%;
        width: 100%;
        height: 3px;
        background: #fff;
    }

.progress-number {
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #1b3964;
}

    .progress-number.active {
        background: #f26135;
        color: #fff;
    }

.progress-text {
    display: block;
    font-size: 12px;
    color: #fff;
    padding-top: 5px;
}


/* Main REquest */
.main-request {
    margin-top: 40px;
    margin-bottom: 40px;
}

    .main-request .row {
        margin-left: -7px;
        margin-right: -7px;
    }

    .main-request .s_gutters {
        padding-left: 7px;
        padding-right: 7px;
    }

    .main-request h2 {
        color: #1a3863;
        font-size: 16px;
        transition: .3s;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .main-request .gioithieu-dau {
        padding-bottom: 30px;
        border-bottom: 1px solid #7f8c8d;
    }

        .main-request .gioithieu-dau .location {
            margin-top: 5px;
        }

            .main-request .gioithieu-dau .location a {
                text-decoration: none;
                color: #000;
            }

.gioithieu-dau .location img {
    width: 15px;
    display: inline-block;
    margin-right: 5px;
}

.main-request .dichvu {
    padding-top: 20px;
}

    .main-request .dichvu span {
        display: block;
    }

.main-request .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #7f8c8d;
}

    .main-request .card-price h2 {
        margin-bottom: 0;
    }

    .main-request .card-price span {
        font-size: 16px;
        display: block;
        font-weight: 600;
        color: #ff6000;
    }

.main-request .card-info {
    padding-top: 5px;
}

    .main-request .card-info span {
        display: block;
        font-style: italic;
    }

.card--border {
    border: 1px solid #cdcdcc;
}
/* Phan Form */
.main-request .form-request {
    width: 75%;
}
.main-request .form-request .form_date{
    background: url(https://data.chinahighlights.com/pic/top10/tour-calendar.png) no-repeat 15px !important;
	padding-left: 50px;
}

.main-request .title-form {
    border-bottom: 1px solid #7f8c8d;
    padding-bottom: 5px;
}

.title-form span {
    font-size: 13px;
}

.form-request .form-group {
    margin-bottom: 0;
}

.form-request .table td, .form-request .table th {
    padding: .35rem;
    vertical-align: middle;
    border-top: none;
    font-size: 14px;
}


.main-request .table-a {
    border-bottom: 1px solid #7f8c8d;
    margin-top: 15px;
}

.form-request .form-check {
    display: inline-block;
    margin-right: 25px;
}

/* Custom radio */

.main-request .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border-radius: 50%;
}

.main-request input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.main-request input:checked ~ .checkmark:after {
    display: block;
}

.main-request .checkmark:after {
    top: 7px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.main-request span.vocative {
    padding-left: 10px;
}

.table-a tr td:nth-child(1) {
    max-width: 30%;
    width: 30%;
    word-wrap: break-word;
}

.table-a .push-request {
    padding: 10px 20px;
    color: #fff;
    background: #f26135;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

    .table-a .push-request span {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }


.main-request .no_border {
    border-bottom: none;
}

.main-request .no-mbottom {
    margin-bottom: 0;
}

.main-request .msg_error {
    color: red;
}

.form_date {
    position: relative;
}

.bg-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 25px;
    
}

/* End Request */
.from-hanoi{
	width: 20%;
	text-align: center;
	border-right: 1px solid #ddd;
	padding: 13px 20px;
	background: #fff;
	margin-right: 5px;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'FontAwesome';*/
}
/* Start Thank You */
.card-thankyou {
    background: #f8f8f8;
}

    .card-thankyou .back-link {
        width: 100%;
        display: flex;
        margin-top: 10px;
    }

        .card-thankyou .back-link a {
            width: 50%;
            background: #959595;
            text-align: center;
            color: #fff;
            border-right: 0;
            padding: 10px 15px;
            margin-right: 10px;
            text-decoration: none;
        }

            .card-thankyou .back-link a span {
                font-size: 16px;
                font-weight: 600;
                display: inline-block;
            }

    .card-thankyou span.iconMenu {
        padding-right: 8px;
    }

    .card-thankyou span {
        display: block;
    }

.back-link img {
    width: 20px;
    object-fit: cover;
}

._a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 auto;
    padding: 10px 20px;
    background: gray;
}

    ._a img {
        width: 25px;
        object-fit: cover;
        margin-right: 7px;
    }

    ._a span {
        font-size: 14px;
        color: #fff;
    }


@media (max-width:767px) {
    .progress-item:not(:last-child):after {
        top: 18%;
        left: 60%;
    }
}
/* End Thank You */

ul.list__menu-flc {
    font-size: 12px;
    color: #1c1d1e;
    padding-left: 5px;
    font-weight: 600;
}

.trip-idea{
	width:100%;
	padding:7px 15px;
	text-align:center;
	background:#1a3863;
	display:none;
}
.trip-idea a.btn-idea {
    color: #fff;
    padding: 5px 12px;
    border: 1px solid;
}

